
/* ===========================[credential manager]================================ */
iframe{
	position: relative;
	width: fit-content;
	height: 500px;
    min-width: 100px;
	margin-top: 5rem;
	margin-left: 11rem;
	margin-right: 11rem;
	z-index: 1;
}
.list-group-item {
	background-color: rgba(255, 255, 255, 0.623) !important;
}
#iframeContainer {
	transform: scale(50%);
	width: 1650px;
    min-width:400px;
	height: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	background-color: rgba(128, 128, 128, 0.8);
}
.iframeContent {
	background-color: transparent;
}
.iframeContent div input[type='text'], .iframeContent div input[type='password'], .iframeContent div input[type='email'], .iframeContent button {
	width: 300px;
	height: 60px;
	font-size: 20px;
}
.credManBody {
	background-image: var(--backgroundimage);
	background-repeat: no-repeat, repeat;
	background-size: cover;
}
#credentialsDivTitle{
	font: bold 120px monospace;
	color: var(--whitetext);
}
#layerTwoCredMan {
	transition: translate 2s;
	position: absolute;
	display: inline-table;
	text-align: center;
	padding: 5rem;
	z-index: 2;
	left: 700px;
	height:180%;
	width: 1000px;
    min-width: 150px;
	background-color: var(--colorgris);
	box-shadow: 0px 0px 19px 25px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 19px 25px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 0px 19px 25px rgba(0, 0, 0, 0.18);
}
#credentialsDivTitle {
	transition: opacity 1s;
}
#credentialsDivText, #message {
	transition: opacity 1s;
}
.fade-out {
	opacity: 0;
}
.displayNone:hover {
	pointer-events: none;
}
.CMbtn {
	margin: 2rem;
	border-style: groove;
	border-width: 10px;
	border-color: transparent;
	background-color: transparent;
	color: var(--whitetext);
	font-size: 24px;
}

.CMbtn:hover:enabled {
	border-style: groove;
	border-width: 10px;
	border-image: linear-gradient(148deg, rgba(255, 5, 237, 1) 45%, rgba(79, 86, 218, 1) 52%);
	background-color: transparent;
	color: #adadad;
	font-size: 24px;
}
.CMbtn:disabled {
	border-style: groove;
	border-width: 10px;
	border-color: transparent;
	background-color: transparent;
	background-color: transparent;
	color: #838383;
	font-size: 24px;
}

#loginsignupbtnContainer {
	position: sticky;
	top: 20px;
}

#credentialsDivText, #message {
	margin-top: 7rem;
	font: condensed 32px monospace;
	color: var(--whitetext);
}
#message {
	color:white;
	font-size: 1.rem;
}
#iframeNavContainer{
	display: none;

}
.nav-link{
	position: relative!important;
}
#iframeContainerParent {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media (max-width:680px){
	#iframeNavContainer{
		margin-bottom: -30px;
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	#iframeContainer{
		transform:scale(90%);
		flex-direction: column;
	}
    #layerTwoCredMan{
        display:none;
    }
}