
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
html{
    box-sizing: border-box;
    
}
body{
    margin: 0 0;
    background-color: var(--colorgris);
    color: var(--colorsecundario);
    overflow-x:hidden;
}
@media(max-width: 680px){
    body{
        width: 100vw;
        min-width: 400px;
    }

}

/* ======================================== PRESENTACION E-COMMERCE ======================================  */
#presentation{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--lightalphacolor);
}
#text-presentation{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
#presentation h1{
    width:80%;
    height: 3em;
    font-size:5rem;
    text-align: center;
}
#presentation p{
    font-size: 1.8rem;
    width:50vw;
    height:auto;
    text-align: center;
    position:relative;
    top:-8vh;
}
.img-presentation{
    border: 0.8px solid transparent;
    border-radius:15px;
    margin-right:4vw;
    box-shadow: 3px 3px transparent;
}
#btn-presentation{
    position:relative;
    bottom:8vh;
    width:200px;
    height:60px;
    background-color: var(--coloroscuro);
    color:var(--colorprincipal);
    font-size:1.5rem;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
#btn-presentation:hover{
    transition:0.8s;
    background-color:var(--colorprincipal);
    color:var(--coloroscuro);
    border:var(--colorsecundario);
}
@media(max-width: 680px){
    #presentation h1{
        height: auto;
        font-size:2.7rem;
    }
    #presentation p{
        font-size: 1.3rem;

    }
    #btn-presentation{
        width:150px;
        height:30px;
        font-size:1rem;

    }
    
}
/* ======================================== DISPLAY MAIN INDEX ======================================  */
#main-display{
    display:none;    
}
#gallery-container{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gallery-message, .gallery-subtitle {
    width: 90vw;
    position: absolute;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    color: var(--colorprincipal);
    font-weight: 500;
    font-size: 4rem;
    top: -15vh;
    left: 5vw;
    transition: all 1s;
}
@media (max-width: 400px){
    #gallery-message, .gallery-subtitle{
        font-size: 2rem;
    }
}
.gallery-subtitle{
    display: none;
}

#category-container{
    display:flex;
    flex-direction: column;
    position: static;
}
#muchmore{

    width:100%;
    height:10vh;
    text-align: center;
    margin-top:3vh;
}
#categories{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.category-box{
    width:32vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    cursor: pointer;
}
.category-box:hover{
    transition: 0.8s;
    scale:1.02;
    background-color: var(--coloroscuro);
    font-size:1.1rem;
    text-overflow:ellipsis;
}
.category-image{
    width:30vw;
    height:auto;
    border: 0.8px solid var(--colorsecundario);
    border-radius:10px;
    box-shadow: 3px 3px var(--colorsecundario);
    margin-top:1vh;
}
