* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper, label {
    position: relative;
    display: inline-block;
}

.wrapper label #button {
    background: #aaaaaa;
    border-radius: 100%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label #button i {
    color: #323334;
    transition: transform .2s linear;
    font-size: 20px;
}

#box:checked ~ label #button i::before {
    content: '\f00d';
}

.wrapper .navs {
    position: absolute;
    top: 110%; /* Mostrar el menú debajo del botón */
    right: -190%;
    transform: scaleY(0); /* Cambiar a scaleY para desplegar hacia abajo */
    transform-origin: top right;
    transition: transform .4s ease-in;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background: #aaaaaa;
    padding: 10px 20%; /* Añadir espacio para el menú desplegado */
    border-radius: 15px;
    z-index: 2; /* Asegurar que el menú esté por encima del botón */
}

#box:checked ~ .navs{
    transform: scaleY(1);
}

.navs ul {
    list-style: none;
    display: list-item;
    flex-direction: column;
    align-items:center;
    padding: 8px 15px;
}

.navs ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #323334;
    font-size: 13px;
    margin: 10px -20%;
    padding: 10px 10px;
}

#box {
    display: none;
}
.navs ul li a:hover{
    background: #22222b;
    border-radius: 30px;
    color: #aaaaaa;
}

.nav-link {
    color: #aaaaaa; 
    font-size: 13px; 
    text-decoration: none; 
    font-weight: normal; 
    position: absolute; 
    top: 10px; 
    left: 85%; 
}
